mixin text-field( {tag, label, type = 'text', name = 'route-from', value, placeholder, required, tabindex, hasArrow, theme, textFieldOptions = [], darkThemeNotification = 'не выбрано', distancePerDay} = {} )
  -
    const hasArrowModifier = hasArrow && '_has-arrow'
    const tags = ['input', 'textarea']
    const tagName = tags.includes(tag) ? tag : 'input'
    const isTextarea = tag === 'textarea'
    const isTextareaModifier = isTextarea && '_is-textarea'
    const themeModifiers = {
      dark: '_theme_dark'
    }
    const classes = [themeModifiers[theme], hasArrowModifier, isTextareaModifier]
    const isDarkTheme = theme === 'dark'
    const inputAttributes = {
      type: !isTextarea && type,
      name: isTextarea ? 'textarea' : name,
      value: value,
      placeholder: placeholder,
      required: required,
      readonly: hasArrow && true,
      tabindex: tabindex,
    }

  label.text-field(class = classes)
    if label
      span.text-field__label= label
    .text-field__container
      #{tagName}.text-field__input()&attributes(inputAttributes)
      if hasArrow
        ul.text-field__options
          each option in textFieldOptions
            li.text-field__option= option
      if isDarkTheme
        span.text-field__notification= darkThemeNotification
        if distancePerDay
          span.text-field__distance-per-day= distancePerDay
